* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/bgi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0px auto;
}

.hero_section {
  display: flex;
  flex-direction: column;
}

.hero_slogan {
  color: rgb(226, 224, 86);
  padding: 32px 0;
  margin: 0;
}

.hero_text {
  margin: 0 0 128px;
  max-width: 475px;
  padding: 24px 16px;
  font-size: 20px;
  color: rgb(226, 224, 86);
  border: 3px solid black;
  border-radius: 16px;
}

.sbm_btn {
  margin-bottom: 16px;
  padding: 16px 8px;
  max-width: 175px;
  border: 3px solid black;
  border-radius: 16px;
  font-size: 20px;
  color: rgb(226, 224, 86);
  background-color: transparent;
  cursor: pointer;
}

.sbm_btn:hover {
  font-size: 24px;
  padding: 14px 6px;
  border: 3px solid;
}
.sbm_btn:last-child {
  margin: 0;
}