<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Low Balance</title>

</head>
<body>
<h1 th:text="#{error.somethingWrong}"> Something went wrong! </h1>
<h2 th:text="#{error.engineersOnIt}"> Our Engineers are on it </h2>
<a href="/main" th:text="#{nav.main}">Go Home</a>
</body>
</html>