<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Low Balance</title>

</head>

<body>
<h1 th:text="#{error.lowBalance}"> Your Balance is too low. Please, update your balance. </h1>
<a href="/main" th:text="#{nav.main}">Go Home</a>
</body>
</html>