<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Ship To Cruise</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruise/{id}/ship/?lang=en(id=${cruise.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruise/{id}/ship/?lang=ua(id=${cruise.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<p th:text="${cruise.getCruiseName()}">VALUE</p>
<p th:text="#{c.startDate} + ${': ' + cruise.getStartDate()}">VALUE</p>
<p th:text="#{c.endDate} + ${': ' + cruise.getEndDate()}">VALUE</p>
<p th:text="#{c.route} + ${': ' + cruise.getRoute()}">VALUE</p>
<p th:text="#{c.portsDuringTrip} + ${': ' + cruise.getPortsDuringRoute() + ' '} + #{c.pieces}">VALUE</p>
<p th:text="#{c.duration} + ${': ' + cruise.getDuration() + ' '} + #{c.days}">VALUE</p>
<p th:text="#{c.freePlaces} + ${': ' + cruise.isFreePlaces()}">VALUE</p>
<p th:text="#{c.price} + ${': ' + cruise.getPrice() + ' UAH'}">VALUE</p>

<br>
<br/>

<div class="container my-2" th:if="${ships.isEmpty()} == false">
    <b th:text="#{s.freeShips}">Free Ship(s):</b>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th th:text="#{s.id}"> Ship ID</th>
            <th th:text="#{s.name}"> Ship Name</th>
            <th th:text="#{s.capacity}"> Capacity</th>
            <th th:text="#{s.stuff}"> Stuff</th>
            <th th:text="#{t.actions}"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ship : ${ships}">
            <td><a th:text="${ship.getId()}"></a></td>
            <td><a th:text="${ship.getShipName()}"></a></td>
            <td><a th:text="${ship.getCapacity() + ' '} + #{s.people}"></a></td>
            <td><a th:text="${ship.getStuff() + ' '} + #{s.people}"></a></td>
            <td>
                <form th:method="POST"
                      th:action="@{/admin/cruise/{id}/ship/{shipId}(id=${cruise.getId()},shipId=${ship.getId})}">
                    <button type="submit" id="submitButton" th:text="#{b.addShipToCruise}">Add Ship to Cruise</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>