<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/admin/getUsers/?lang=en">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getUsers/?lang=ua">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<div class="container my-2">
    <h1 th:text="#{t.usersList}">Users List</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th th:text="#{u.id}"> User ID</th>
            <th th:text="#{reg.firstName}"> First Name</th>
            <th th:text="#{reg.lastName}"> Last Name</th>
            <th th:text="#{reg.email}"> Email</th>
            <th th:text="#{reg.phone}"> Phone</th>
            <th th:text="#{m.balance}"> Balance</th>
            <th th:text="#{u.role}"> Role</th>
            <th th:text="#{t.actions}"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getId()}">User ID</td>
            <td th:text="${user.getFirstName()}">First Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getPhone()}">Phone</td>
            <td th:text="${user.getAccount()}">Balance</td>
            <td th:each="role: ${user.getRoles()}">
                <p th:text="${role.getRoleName()}"></p>
            </td>
            <td>
                <a th:href="@{/admin/user/{id}/booking(id=${user.getId})}" class="btn btn-danger" th:text="#{b.bookingInfo}">Booking info</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/admin/getUsers/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/getUsers/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/getUsers/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>

</html>