<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cruise Info</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cruise/{id}/?lang=en(id=${cruise.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cruise/{id}/?lang=ua(id=${cruise.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<p th:text="${cruise.getCruiseName()}">VALUE</p>
<p th:text="#{c.startDate} + ${': ' + cruise.getStartDate()}">VALUE</p>
<p th:text="#{c.endDate} + ${': ' + cruise.getEndDate()}">VALUE</p>
<p th:text="#{c.route} + ${': ' + cruise.getRoute()}">VALUE</p>
<p th:text="#{c.portsDuringTrip} + ${': ' + cruise.getPortsDuringRoute() + ' '} + #{c.pieces}">VALUE</p>
<p th:text="#{c.duration} + ${': ' + cruise.getDuration() + ' '} + #{c.days}">VALUE</p>
<p th:text="#{c.freePlaces} + ${': ' + cruise.isFreePlaces()}">VALUE</p>
<p th:text="#{c.price} + ${': ' + cruise.getPrice() + ' UAH'}">VALUE</p>

<br>
<b th:text="#{s.shipInCruise}">Ships in Cruise:</b>

<table border="1">
    <span th:each="ship : ${cruise.getShips()}">
        <tr>
            <td th:text="#{s.name} + ' ' + ${ship.getShipName()}">Ship Name</td>
            <td th:text="#{s.capacity} + ${': ' + ship.getCapacity()}">Capacity</td>
            <td th:text="#{s.curNumPeople} + ${': ' + ship.getCurrentNumOfPeople()}">Current Num Of People</td>
            <td th:text="#{s.stuff} + ${': ' + ship.getStuff()}">Stuff</td>
        </tr>
    </span>
</table>

<br/>
<br/>

<form th:method="post" th:action="@{/booking}" th:object="${cruise}"
      th:if="${isBookingExist.booleanValue()} == false and ${cruise.isFreePlaces()}">
    <input type="hidden" name="cruiseId" th:value="${cruise.getId()}">
    <input type="submit" th:value="#{b.applyForTrip}"/>
</form>

</body>
</html>