<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Cruise</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruise/{id}/?lang=en(id=${cruise.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruise/{id}/?lang=ua(id=${cruise.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<form th:action="@{/admin/cruise/{id}(id=${cruise.getId()})}" th:method="patch" th:object="${cruise}">
    <div class="form-group">
        <label for="cruiseName" th:text="#{e.cruiseName}">Enter Cruise Name: </label>
        <input type="text" class="form-control" id="cruiseName" th:field="*{cruiseName}">
        <div style="color:red" th:if="${#fields.hasErrors('cruiseName')}" th:errors="*{cruiseName}">cruiseName Error
        </div>
    </div>
    <div class="form-group">
        <label for="route" th:text="#{e.route}">Enter Route: </label>
        <input type="text" class="form-control" id="route" th:field="*{route}">
        <div style="color:red" th:if="${#fields.hasErrors('route')}" th:errors="*{route}">route Error</div>
    </div>

    <div class="form-group">
        <label for="startDate" th:text="#{e.startDate}">Enter Start Date: </label>
        <input type="datetime-local" class="form-control" id="startDate" th:field="*{startDate}">
        <div style="color:red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">startDate Error</div>
    </div>

    <div class="form-group">
        <label for="endDate" th:text="#{e.EndDate}">Enter End Date: </label>
        <input type="datetime-local" class="form-control" id="endDate" th:field="*{endDate}">
        <div style="color:red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">endDate Error</div>
    </div>

    <div class="form-group">
        <label for="portsDuringRoute" th:text="#{e.portsDuringRoute}">Enter Ports on Route: </label>
        <input type="number" min="0" class="form-control" id="portsDuringRoute" th:field="*{portsDuringRoute}">
        <div style="color:red" th:if="${#fields.hasErrors('portsDuringRoute')}" th:errors="*{portsDuringRoute}">
            portsDuringRoute Error
        </div>
    </div>

    <div class="form-group">
        <label for="price" th:text="#{e.price}">Enter Price: </label>
        <input type="number" min="0" class="form-control" id="price" th:field="*{price}">
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error</div>
    </div>

    <div class="form-group">
        <label for="duration" th:text="#{e.duration}">Enter duration: </label>
        <input type="number" min="0" class="form-control" id="duration" th:field="*{duration}">
        <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">duration Error</div>
    </div>

    <div class="form-group">
        <label for="freePlaces" th:text="#{e.freePlaces}">Free places: </label>
        <input type="checkbox" class="form-control" id="freePlaces" th:field="*{freePlaces}">
        <div style="color:red" th:if="${#fields.hasErrors('freePlaces')}" th:errors="*{freePlaces}">freePlaces Error
        </div>
    </div>
    <br/>
    <input type="submit" th:value="#{b.edit}"/>
</form>

</body>
</html>