<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}/edit/?lang=en(id=${user.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}/edit/?lang=ua(id=${user.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName" th:text="#{e.firstName}">Enter First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</div>
    <br/>
    <label for="lastName" th:text="#{e.lastName}">Enter Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
    <br/>
    <label for="email" th:text="#{e.email}">Enter email: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="phone" th:text="#{e.mobNum}">Enter Mobile Number: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</div>
    <input type="submit" class="btn btn-primary" th:value="#{b.update}"/>
</form>

</body>
</html>