<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update ship</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/ship/{id}/?lang=en(id=${ship.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/ship/{id}/?lang=ua(id=${ship.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<form th:method="PATCH" th:action="@{/admin/ship/{id}(id=${ship.getId()})}" th:object="${ship}">
    <label for="shipName" th:text="#{e.shipName}">Enter Ship Name: </label>
    <input type="text" th:field="*{shipName}" id="shipName"/>
    <div style="color:red" th:if="${#fields.hasErrors('shipName')}" th:errors="*{shipName}">shipName Error</div>
    <br/>
    <label for="capacity" th:text="#{e.capacity}">Enter Capacity: </label>
    <input type="number" min="0" th:field="*{capacity}" id="capacity"/>
    <div style="color:red" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">capacity Error</div>
    <br/>
    <label for="currentNumOfPeople" th:text="#{e.curNumOfPeople}">Enter Current Num Of People: </label>
    <input type="number" min="0" th:field="*{currentNumOfPeople}" id="currentNumOfPeople"/>
    <div style="color:red" th:if="${#fields.hasErrors('currentNumOfPeople')}" th:errors="*{currentNumOfPeople}">currentNumOfPeople Error</div>
    <br/>
    <label for="stuff" th:text="#{e.stuff}">Enter Stuff: </label>
    <input type="number" min="0" th:field="*{stuff}" id="stuff"/>
    <div style="color:red" th:if="${#fields.hasErrors('stuff')}" th:errors="*{stuff}">stuff Error</div>
    <input type="submit" th:value="#{b.update}"/>
</form>

</body>
</html>