<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/main/?lang=en">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main/?lang=ua">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<div class="container my-2">
    <h2 th:text="#{m.welcome}">Welcome to Main Page</h2>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="#{m.homePage}">Home Page</a>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="#{m.homePage}">Home Page</a>
    </div>
    <br>
    <a th:text="#{m.balance} + ${': ' + user.getAccount()}"></a>
    <a th:href="@{/updateBalance}" th:text="#{m.updateBalance}">Update Balance</a>
    <br>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/main/' + ${currentPage} + '?sortField=cruiseName&sortDir=' + ${reverseSortDir}}"
                   th:text="#{c.cruiseName}">
                    Cruise Name</a>
            </th>
            <th>
                <a th:href="@{'/main/' + ${currentPage} + '?sortField=startDate&sortDir=' + ${reverseSortDir}}"
                   th:text="#{c.startDate}">
                    Start Date</a>
            </th>
            <th>
                <a th:href="@{'/main/' + ${currentPage} + '?sortField=duration&sortDir=' + ${reverseSortDir}}"
                   th:text="#{c.duration}">
                    Duration</a>
            </th>
            <th th:text="#{c.price}">Price</th>
            <th th:text="#{t.actions}"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cruise : ${cruiseList}">
            <td th:text="${cruise.getCruiseName()}"></td>
            <td th:text="${cruise.getStartDate()}"></td>
            <td th:text="${cruise.getDuration()} + ' ' + #{c.days}"></td>
            <td th:text="${cruise.getPrice()}"></td>
            <td>
                <form th:method="get" th:action="@{/cruise/{id}(id=${cruise.getId()})}" th:object="${user}">
                    <input type="submit" class="btn btn-primary" th:value="#{b.getDetails}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}"
         th:href="@{'/main/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/main/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
        </div>
    </div>
</div>
<br>
<a href="/main/ships" class="btn btn-primary" th:text="#{m.ships}"> Our Ships</a>
<br>
<a href="/something">Check error 404</a>
<form action="/logout">
    <input type="submit" class="btn btn-danger" value="Logout">
</form>
</body>
</html>