<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay for Cruise</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<form th:method="patch" th:action="@{/user/myBooking/pay}" th:object="${booking}">
    <input type="hidden" name="userId" th:value="${booking.getUserId()}">
    <input type="hidden" name="cruiseId" th:value="${booking.getCruiseId()}">
    <input type="submit" th:value="#{b.goPay}"/>
</form>

</body>
</html>