<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
</head>
<body>
<div class="container mt-5">
    <div class="card" style="width: 55rem; ">
        <div class="card-header text-center bg-info ">
            <h3 th:text="#{reg.form}"></h3>
        </div>
        <div class="card-body">
            <form th:action="@{/registration}" method="post" th:object="${userForm}">
                <div class="form-group">
                    <label for="username" th:text="#{reg.username}"></label>
                    <input type="text" class="form-control" id="username" th:field="*{username}">
                    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
                </div>
                <div class="form-group">
                    <label for="firstName" th:text="#{reg.firstName}"></label>
                    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" th:field="*{firstName}">
                    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</div>
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{reg.lastName}"></label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" th:field="*{lastName}">
                    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
                </div>
                <div class="form-group">
                    <label for="email" th:text="#{reg.email}"></label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" th:field="*{email}">
                    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{reg.password}"></label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm" th:text="#{reg.passwordConfirm}"></label>
                    <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}">
                    <div style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">passwordConfirm Error</div>
                </div>
                <div class="form-group">
                    <label for="phone" th:text="#{reg.phone}"></label>
                    <input type="text" class="form-control" id="phone" th:field="*{phone}">
                    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" th:text="#{reg.submit}"></button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
//Data Picker Initialization
$('.datepicker').datepicker();


</script>
</body>
</html>