<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}/?lang=en(id=${user.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/{id}/?lang=ua(id=${user.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<p th:text="${user.getFirstName() + ' ' + user.getLastName()}">VALUE</p>
<p th:text="#{reg.email} + ': ' + ${user.getEmail()}">VALUE</p>
<p th:text="#{m.balance} + ' ' + ${user.getAccount()}">VALUE</p>
<p th:text="#{reg.phone} + ': ' + ${user.getPhone()}">VALUE</p>
<br>

<a th:href="@{/user/myBooking/{id}(id=${user.getId})}" class="btn btn-primary" th:text="#{b.showMyBooking}"></a>
<br>
<br>
<a th:href="@{/updateBalance}" class="btn btn-primary" th:text="#{m.updateBalance}">Update Balance</a>
<br/>
<br/>
<a th:href="@{/user/{id}/edit(id=${user.getId()})}" class="btn btn-danger" th:text="#{b.edit}">Edit</a>
<br/>
<br>
<form th:method="DELETE" th:action="@{/user/{id}/(id=${user.getId()})}">
    <button type="submit" class="btn btn-danger" id="submitButton" th:text="#{b.deleteAccount}">Delete Account</button>
</form>

</body>
</html>