<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show User Booking for Admin</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/user/{id}/booking/?lang=en(id=${user.getId()})}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/user/{id}/booking/?lang=ua(id=${user.getId()})}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th th:text="#{c.cruiseName}"> Cruise Name</th>
        <th th:text="#{c.startDate}"> Start Date</th>
        <th th:text="#{c.freePlaces}"> Is Free Places</th>
        <th th:text="#{c.isApproved}"> Is Approved</th>
        <th th:text="#{c.isPaidUo}"> Is Paid Up</th>
        <th th:text="#{c.isDocUpload}"> Is Document Upload</th>
        <th th:text="#{c.isActive}"> Is Active</th>
        <th th:text="#{t.actions}"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wrapper : ${wrappers}">
        <td>
            <a th:text="${wrapper.getCruise().getCruiseName()}"
               th:href="@{/cruise/{id}(id=${wrapper.getCruise().getId()})}" class="btn btn-primary"></a>
        </td>
        <td th:text="${wrapper.getCruise().getStartDate()}"></td>
        <td th:text="${wrapper.getCruise().isFreePlaces()}"></td>

        <td th:text="${wrapper.getBooking().isApproved()}"></td>
        <td th:text="${wrapper.getBooking().isPaidUp()}"></td>
        <td th:text="${wrapper.getBooking().isDocumentUpload()}"></td>
        <td th:text="${wrapper.getBooking().isActive()}"></td>

        <td>
            <form th:method="post" th:action="@{/admin/usersCruises}" th:object="${wrapper}"
                  th:if="${wrapper.getBooking().isApproved()} == false and ${wrapper.getBooking().isActive()} and ${wrapper.getCruise().isFreePlaces()}">
                <input type="hidden" name="userId" th:value="${wrapper.getUser().getId()}">
                <input type="hidden" name="cruiseId" th:value="${wrapper.getCruise().getId()}">
                <input type="submit" th:value="#{b.confirmBooking}"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>