<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cruise Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruises/?lang=en}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/cruises/?lang=ua}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th> Cruise ID</th>
        <th th:text="#{c.cruiseName}"> Cruise Name</th>
        <th th:text="#{c.route}"> Route</th>
        <th th:text="#{c.startDate}"> Start Date</th>
        <th th:text="#{c.endDate}"> End Date</th>
        <th th:text="#{c.portsDuringTrip}"> Ports on Route</th>
        <th th:text="#{c.price}"> Price</th>
        <th th:text="#{c.freePlaces}"> Free Places</th>
        <th th:text="#{c.duration}"> Duration</th>
        <th th:text="#{s.shipDetails}"> Ship</th>
        <th th:text="#{t.actions}"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cruise : ${cruises}">
        <td><a th:text="${cruise.getId()}"></a></td>
        <td><a th:text="${cruise.getCruiseName()}"></a></td>
        <td><a th:text="${cruise.getRoute()}"></a></td>
        <td><a th:text="${cruise.getStartDate()}"></a></td>
        <td><a th:text="${cruise.getEndDate()}"></a></td>
        <td><a th:text="${cruise.getPortsDuringRoute() + ' '} + #{c.ports}"></a></td>
        <td><a th:text="${cruise.getPrice()} + ' UAH'"></a></td>
        <td><a th:text="${cruise.isFreePlaces()}"></a></td>
        <td><a th:text="${cruise.getDuration() + ' '} + #{c.days}"></a></td>

        <td th:each="ship: ${cruise.getShips()}">
            <p th:text="#{s.name} + ' ' + ${ship.getShipName()}">Ship Name</p>
            <p th:text="#{s.capacity} + ${': ' + ship.getCapacity()}">Capacity</p>
            <p th:text="#{s.curNumPeople} + ${': ' + ship.getCurrentNumOfPeople()}">Current Num Of People</p>
        </td>

        <td>
            <a th:href="@{/admin/cruise/{id}/ship(id=${cruise.getId()})}" class="btn btn-primary"
               th:text="#{b.addShip}">Add Ship</a>
            <br>
            <br>
            <a th:href="@{/admin/cruise/{id}(id=${cruise.getId()})}" class="btn btn-primary"
               th:text="#{b.edit}">Edit</a>
            <br>
            <br>
            <form th:method="DELETE" th:action="@{/admin/cruise/{id}/(id=${cruise.getId()})}">
                <button type="submit" class="btn btn-danger" id="submitButton" th:text="#{b.delete}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="row-sm-10">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/admin/cruises/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/cruises/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/cruises/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>