<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ships Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/admin/ships/?lang=en">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/ships/?lang=ua">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<div class="container my-2">
    <h1 th:text="#{t.allShips}"> All Ships </h1>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th th:text="#{s.id}"> Ship ID</th>
            <th th:text="#{s.name}"> Ship Name</th>
            <th th:text="#{s.capacity}"> Capacity</th>
            <th th:text="#{s.curNumPeople}"> Current Num Of People</th>
            <th th:text="#{s.stuff}"> Stuff</th>
            <th th:text="#{t.actions}"> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ship : ${ships}">
            <td><a th:text="${ship.getId()}"></a></td>
            <td><a th:text="${ship.getShipName()}"></a></td>
            <td><a th:text="${ship.getCapacity() + ' people'}"></a></td>
            <td><a th:text="${ship.getCurrentNumOfPeople() + ' people'}"></a></td>
            <td><a th:text="${ship.getStuff() + ' people'}"></a></td>
            <td>
                <a th:href="@{/admin/ship/{id}(id=${ship.getId()})}" class="btn btn-primary" th:text="#{b.edit}">Edit Ship</a>
                <br>
                <br>
                <form th:method="DELETE" th:action="@{/admin/ship/{id}/(id=${ship.getId()})}">
                    <button type="submit" class="btn btn-danger" id="submitButton" th:text="#{b.deleteShip}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>