<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users-Cruises Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Main
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/usersCruises/?lang=en}">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/usersCruises/?lang=ua}">
                    <i class="fa fa-globe">
                        <span class="badge badge-success" th:text="#{w.switch-ua}"></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>

<h1 th:text="#{t.bookings}">List of Bookings</h1>
<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th th:text="#{u.username}"> Username</th>
        <th th:text="#{reg.firstName}"> First Name</th>
        <th th:text="#{reg.lastName}"> Last Name</th>
        <th th:text="#{c.cruiseName}"> Cruise Name</th>
        <th th:text="#{c.startDate}"> Start Date</th>
        <th th:text="#{c.freePlaces}"> Is Free Places</th>
        <th th:text="#{s.shipDetails}"> Ship details</th>
        <th th:text="#{c.isApproved}"> Is Approved</th>
        <th th:text="#{c.isPaidUo}"> Is Paid Up</th>
        <th th:text="#{c.isDocUpload}"> Is Document Upload</th>
        <th th:text="#{c.isActive}"> Is Active</th>
        <th th:text="#{t.actions}"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wrapper : ${wrappers}">
        <td th:text="${wrapper.getUser().getUsername()}"></td>
        <td th:text="${wrapper.getUser().getFirstName()}"></td>
        <td th:text="${wrapper.getUser().getLastName()}"></td>
        <td th:text="${wrapper.getCruise().getCruiseName()}"></td>
        <td th:text="${wrapper.getCruise().getStartDate()}"></td>
        <td th:text="${wrapper.getCruise().isFreePlaces()}"></td>

        <td th:each="ship: ${wrapper.getShips()}">
            <p th:text="#{s.name} + ${': ' + ship.getShipName()}"></p>
            <p th:text="#{s.capacity} + ${': ' + ship.getCapacity()}"></p>
            <p th:text="#{s.curNumPeople} + ${': ' + ship.getCurrentNumOfPeople()}"></p>
        </td>

        <td th:text="${wrapper.getBooking().isApproved()}"></td>
        <td th:text="${wrapper.getBooking().isPaidUp()}"></td>
        <td th:text="${wrapper.getBooking().isDocumentUpload()}"></td>
        <td th:text="${wrapper.getBooking().isActive()}"></td>

        <td>
            <form th:method="post" th:action="@{/admin/usersCruises}" th:object="${wrapper}"
                  th:if="${wrapper.getBooking().isApproved()} == false and ${wrapper.getBooking().isActive()} and ${wrapper.getCruise().isFreePlaces()}">
                <input type="hidden" name="userId" th:value="${wrapper.getUser().getId()}">
                <input type="hidden" name="cruiseId" th:value="${wrapper.getCruise().getId()}">
                <input type="submit" class="btn btn-danger" th:value="#{b.confirmBooking}"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="row-sm-10">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/admin/usersCruises/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/usersCruises/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/usersCruises/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>

</html>