<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="text-white">Seabourn</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" th:text="#{nav.main}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/?lang=en">
                    <i class="fa fa-bell">
                        <span class="badge badge-info" th:text="#{w.switch-en}"></span>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?lang=ua">
                    <i class="fa fa-globe">
                <span
                        class="badge badge-success"
                        th:text="#{w.switch-ua}"
                ></span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="hero_section">
        <h1 class="hero_slogan" th:text="#{w.welcome}">Вітаємо на сайті!</h1>
        <p class="hero_text" th:text="#{w.describe}">
            Круїзна компанія Seabourn входить в список найкращих компаній сегмента
            люкс і пропонує своїм клієнтам зануритися в світ розкоші. Творці
            компанії зібрали на борту своїх мегаяхт воєдино все, що можна
            асоціювати зі словом «люкс». На лайнерах представлені тільки зовнішні
            каюти з вікнами або балконами. На відкритих палубах є басейни, джакузі
            і відокремлені зони для відпочинку
        </p>

        <button class="sbm_btn" type="button" th:text="#{w.reg}"
                onclick="window.location.href='http://localhost:8080/registration'">Registration
        </button>

        <button class="sbm_btn" type="button" th:text="#{w.log}"
                onclick="window.location.href='http://localhost:8080/login'">Log in
        </button>
    </div>
</div>
</body>
</html>